---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---
<!-- 
<div class="jumbotron">
    <p>
        <b>肖航课题组</b>开发了首个<b>基于字符串的可逆晶体表示法: SLICES</b>,实现了生成式AI驱动的<b>Text2Crystal</b>。SLICES有望成为AI驱动的晶体材料逆向设计的标准工具,即<b>晶体材料的"SMILES"</b>。 
    </p>
    <p>
    The <b>XIAO Research Group</b> developed the first <b>string-based invertible, invariant crystallographic representation: SLICES</b>, achieving <b>Text2Crystal</b> powered by generative AI. SLICES has the potential to become a standard tool for <i> in-silico </i> materials discovery, i.e. "SMILES" for crystal structures.
    </p>
</div> -->

<!-- <div class="jumbotron">
    <p>
        <b>陈思鸣</b>mbti:intj<b>轮滑、旅游、文学作品与电影是我的业余所爱，对一切有趣的事物都保留着好奇心，富有冒险和开拓精神。</b><b>专业上，我拥有良好的编程基础和多元化的软件操作能力，喜欢尝试前沿的新事物，有多次大型比赛和项目经历，培养了积极沟通与协作的团队合作能力</b>
    </p>
    <p>
   <b>CHEN Siming</b>mbti:intj<b> Roller skating, traveling, literature and movies are my spare-time passions, and I retain a curiosity for all things interesting, adventurous and pioneering. </b>
	    <b>Professionally, I have good programming fundamentals and diversified software operation ability, I like to try cutting-edge new things, and have many large-scale competitions and project experiences, which have cultivated the teamwork ability of positive communication and collaboration.</b>
    </p>
</div> -->
<!-- <body>  

    <h1>这里是一些日常</h1>  

<img src="https://s1.imagehub.cc/images/2024/10/21/c23c93bab807f7375b8e4de612f6c19c.jpeg" alt="IMG 8814" border="0">
<img src="https://s1.imagehub.cc/images/2024/10/21/11c93e89813b177892d9af1a714fa887.jpeg" alt="IMG 8878" border="0">
<img src="https://s1.imagehub.cc/images/2024/10/21/f8fad43e01e66e31fb2d27a5a2056268.jpeg" alt="IMG 8900" border="0">
<img src="https://s1.imagehub.cc/images/2024/10/21/96a4e2870063290488efad0b01b703cd.jpeg" alt="IMG 8536" border="0">
<img src="https://s1.imagehub.cc/images/2024/10/21/49169a8ad847e1327cd1e745497e90c3.jpeg" alt="IMG 8921" border="0">
<img src="https://s1.imagehub.cc/images/2024/10/21/180fba6e264d8bb7a4abf6c63e3fa8ec.jpeg" alt="IMG 9035" border="0">

</body>  -->
<div class="jumbotron">
    <p>
        <b>顾燕</b>mbti:intj<b>旅游、文学作品与电影是我的业余爱好，擅长资源整合，乐于团队合作</b>
 
</div>

<gradio-app src="https://snowman2768-Snowman.hf.space" theme_mode="light"></gradio-app>
<body>  

    <h1>这里是一些日常</h1>  

<img src="https://s1.imagehub.cc/images/2024/10/21/49169a8ad847e1327cd1e745497e90c3.jpeg" alt="IMG 8921" border="0">
<img src="https://s1.imagehub.cc/images/2024/10/21/180fba6e264d8bb7a4abf6c63e3fa8ec.jpeg" alt="IMG 9035" border="0">

</body> 
<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>
<!-- 
<gradio-app src="https://snowman2768-Snowman.hf.space" theme_mode="light"></gradio-app> -->


<!-- 
<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div> -->
